---
title: Conference Support
layout: project
--- 

<article>
  <div class="inner">
    <div class="project-intro">
    <p>
    Conferences and events are a great way to connect with people from the community and meet new faces, and we want to be a part of it! Travis Foundation has supported various conferences by handling the financial side of things, so organisers can focus on organising.
    </p>
    </div>

    <div class="project-main">
    <section>
      <h2>What we do</h2>
      <p>Organising a conference or an event takes a lot of time and effort, and most event organisers do this in their free time. We believe that a healthy, happy community is a great way to foster diversity, and that’s why we support Berlin-based conferences and events when we can, by taking care of finance-related tasks such as dealing with taxes. This way, organisers are able to focus on their event, their speakers, and their attendees. In 2015, we supported front-end and full-stack conferences (CSSConf EU, JSConf EU, OTSConf) as well as a Clojure workshop targeting beginners (ClojureBridge).</p>
    </section>

    <section>
      <h2>Supported initiatives</h2>
      <ul class="bullet-list--inverted list-columns">
        <li><a href="http://2015.cssconf.eu/">{% include bullet-arrow.html %} CSSConf EU</a></li>
        <li><a href="http://2015.jsconf.eu/">{% include bullet-arrow.html %} JSConf EU</a></li>
        <li><a href="https://otsconf.com/">{% include bullet-arrow.html %} OTS Conf</a></li>
        <li><a href="https://clojurebridge-berlin.github.io/">{% include bullet-arrow.html %} ClojureBridge</a></li>
      </ul>
    </section>

    </div>

  </div>
</article>