---
title: Rails Girls Summer of Code
layout: project
image: /images/rebrand/post-bg-rgsoc.png
--- 

<article>
  <div class="inner">
    <div class="project-intro">
      <p>Travis Foundation managed and supported <a href="http://railsgirlssummerofcode.org/">Rails Girls Summer of Code</a> as their first community program in 2013 and we've helped run and manage the initiative ever since.</p>
    </div>
    <div class="project-main">
      <section>
        <h2>The program</h2>
        <p>Rails Girls Summer of Code aims to promote diversity by providing scholarships to allow people worldwide who identify as female and non-binary to work full-time on an Open Source project for three months. It is modeled after Google’s Summer of Code, but with a focus on beginner to intermediate level coders, and is the first program of its kind. The first installment of RGSoC took place in July-September 2013.</p>
      </section>
      <section>
        <h2>How it works</h2>
        <p>Teams are comprised of two students, two or more coaches, a supervisor, and a project mentor. While coaches help the students learn on a daily basis, the mentor guides them on the project itself.
        <br>
        In the last installment (2018), 26 sponsored students from four continents took part in the program, working on projects such as Babel, Tessel, ifme and Servo.</p>
      </section>

      <section>
        <h2>How it evolved</h2>
        <p>
          Since the beginning, the program has been growing steadily, both in terms of projects and the number of different countries applicants are from, showing the spreading of the movement. We believe in paying it forward, and more often than not alumna come back as coaches, organisers or supervisors the following year.
        </p>
      </section>

      <section>
        <h2>Find out more</h2>
        <ul class="bullet-list--inverted list-columns">
          <li><a href="http://railsgirlssummerofcode.org/about/">{% include bullet-arrow.html %} More about RGSoC</a></li>
          <li><a href="http://railsgirlssummerofcode.org/blog">{% include bullet-arrow.html %} Read the blog</a></li>
          <li><a href="https://twitter.com/RailsGirlsSoC">{% include bullet-arrow.html %} Follow RGSoC on Twitter</a></li>
        </ul>
      </section>
    </div>
  </div>
</article>
