---
title: Rails Girls Summer of Code
layout: project
image: /images/rebrand/post-bg-rgsoc.png
--- 

<article>
  <div class="inner">
    <div class="project-intro">
      <p>Travis Foundation managed and supported <a href="http://railsgirlssummerofcode.org/">Rails Girls Summer of Code</a> as their first community program in 2013 and we've helped run and manage the initiative ever since.</p>
    </div>
    <div class="project-main">
      <section>
        <h2>The program</h2>
        <p>Rails Girls Summer of Code’s aim is to promote diversity by providing scholarships to allow women worldwide to work full-time on an Open Source project for three months. It is modeled after Google’s Summer of Code, but with a focus on women who are beginner to intermediate level, and is the first program of its kind. The first instalment of RGSoC happened from July to September 2013, and has been taking place every year ever since.</p>
      </section>
      <section>
        <h2>The teams</h2>
        <p>The teams are comprised of two students, two or more coaches, a supervisor, and a project mentor. While the coaches help the students learn on a daily basis, the mentor guides them when it comes to the project itself. 
        <br>
        In 2013, 19 sponsored and 10 volunteering students from all over the world took part in the program, working on projects such as Diaspora, Species+, Rubinius, Bundler and Rails. </p>
      </section>

      <section>
        <h2>How it evolved</h2>
        <p>
          Since the beginning, the program has been growing steadily and in the last installment (2015) we had 32 sponsored students; what has also been growing is the number of different countries the applicants are from, showing the spreading of the movement. We believe in paying it forward, and more often than not alumna come back as coaches, organisers or supervisors the following year. 
        </p>
      </section>

      <section>
        <h2>Find out more</h2>
        <ul class="bullet-list--inverted list-columns">
          <li><a href="http://foundation.travis-ci.org/2015/12/02/record-breaking-rgsoc/">{% include bullet-arrow.html %} Travis Foundation about RGSoC 2015</a></li>
          <li><a href="http://railsgirlssummerofcode.org/blog">{% include bullet-arrow.html %} Read the RGSoC blog</a></li>
          <li><a href="http://railsgirlssummerofcode.org/about/">{% include bullet-arrow.html %} More about RGSoC</a></li>
        </ul>
      </section>
    </div>
  </div>
</article>
