---
title: Speakerinnen
layout: project
--- 

<article>
  <div class="inner">
    <div class="project-intro">
    <p>Speakerinnen.org was created to increase the visibility of women in the field of public speaking. Travis Foundation offers them networking opportunities and a platform to collaborate.</p>
    </div>

    <div class="project-main">
    <section>
      <h2>The platform</h2>
      <p>Speakerinnen is a list of women who have expertise in a field and want to do public talks in their area. The areas of expertise are not narrowed down to a certain field, so conference organisers from any discipline should be able to find appropriate speakers. The platform is also used by journalists to find experts and interview partners.</p>
    </section>

    <section>
      <h2>Behind the scenes</h2>
      <p>Speakerinnen.org was launched in March 2014 and now lists more than 1.000 women worldwide. The platform was built and is maintained by the <a href="http://rubymonstas.org" target="_blank">Rubymonstas</a>, a Berlin-based <a href="http://railsgirlsberlin.de/" target="_blank">Rails Girls</a> study group.</p>
    </section>

    <section>
      <h2>Find out more</h2>
      <ul class="bullet-list--inverted list-columns">
        <li><a href="http://speakerinnen.org">{% include bullet-arrow.html %} Speakerinnen.org</a></li>
        <li><a href="http://foundation.travis-ci.org/2015/12/10/public-discourse-needs-more-diversity">{% include bullet-arrow.html %} Post about Speakerinnen on the Foundation blog</a></li>
      </ul>
    </section>

    </div>

  </div>
</article>