---
layout: default
---

section#blurb
  h2
    ' Let&apos;s make <strong>Open Source</strong>
    ' an <strong>even better</strong> place!
  a How?

section#lead
  p
    ' With your help we will support non-profit projects that make our
    ' community an even better place. These are the projects that we are
    ' going to start with:

.rgsoc
  section#projects
    ul
      li#rgsoc
        h3
          a RailsGirls Summer of Code
        p
          ' Helps Rails Girls students get into Open Source. Starting in July students
          ' will work fulltime for 3 months on great projects.
          a href="" Read more &hellip;
      li#diversity
        h3
          a Diversity in Tech
        p
          ' Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          ' eiusmod tempor incididunt ut.
          a href="" Read more &hellip;
      li#internships
        h3
          a Open Source Internships
        p
          ' Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          ' eiusmod tempor incididunt ut.
          a href="" Read more &hellip;

  section#testimonials
    ul
      li#testimonial-rgsoc
        video controls="" poster="images/testimonials/henrietta.jpg" src=""
        h3 <span>Pia Henrietta Kekäläinen</span>, RailsGirls co-founder
        p
          ' Travis has always been rocking shit away and so you should totally
          ' trust these guys and give them all your moneyz so we can have an
          ' awesome time!
      li#testimonial-diversity
        img alt="Someone about Diversity in Tech" src="images/testimonials/diversity.jpg"
        h3 <span>Someone</span>
        p
          ' About Diversity in Tech.
      li#testimonial-internships
        img alt="Someone about Open Source Internships" src="images/testimonials/diversity.jpg"
        h3 <span>Someone</span>
        p
          ' About Open Source Internships.
    a#prev-testimonial
    a#next-testimonial

section#about
  h2 What is this?

  article
    p Travis Foundation is here to help making the world of Open Source an even
      better place:

    p Travis Foundation is a work-in-progress, non-profit organization that is being
      founded in order to give back to the Open Source community.

    p <a href="http://travis-ci.org">Travis CI</a> has always been very much
      rooted in Open Source and working with the community to build our service, for
      the community, has been one wild love and succes story. With Travis CI
      now being an established solid service, it is time to give back even more.

    p With Travis Foundation we will use our expertise and network to support
      projects that provide opportunities and chances to newcomers, foster diversity
      and make the community an even greater place in general.

section#contact
  h2 Get in touch
  article
    p How to get in touch ...
