<aside class="blog-sidebar">
  <div class="blog-recent">
    <h3>
      Recent Posts
    </h3>
    <ul>
      <li>
        <a href="">other post</a>
      </li>
      <li>
        <a href="">some other post</a>
      </li>
      <li>
        <a href="">and another</a>
      </li>
    </ul>
  </div>
  <div class="blog-twitter">
    <a class="twitter-timeline" data-dnt="true" data-widget-id="408987351906398208" href="https://twitter.com/travis_fnd">Tweets von @travis_fnd</a>
    <script type="text/javascript">
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
  </div>
</aside>
