<div class="footer" id="contact">
  <footer class="inner">
    <ul class="contactlist">
      <li>
        &copy; Travis Foundation 2013–{{ site.time | date: "%Y" }} &mdash;
      </li>
      <li>
        <a href="mailto:foundation@travis-ci.org"><span class="icon-mail"></span><span>Email Travis Foundation</span></a>
      </li>
      <li>
        <a href="https://twitter.com/travis_fnd" target="_blank"><span class="icon-twitter"></span><span>Follow Travis Foundation</span></a>
      </li>
      <li>
        <a href="/imprint"><span class="icon-imprint"></span><span>Imprint</span></a>
      </li>
      <li>
        <a href="/privacy"><span class="icon-imprint"></span><span>Privacy Policy</span></a>
      </li>
      <li>
        <a href="/logos"><span class="icon-heart"></span><span>Logos</span></a>
      </li>
    </ul>
    <div class="call-to-travis">
      <p><a href="https://travis-ci.org/" target="_blank">An initiative run by Travis CI</a><span class="mascot"></span></p>
    </div>
  </footer>
</div>
{% include scripts.html %}
