<div class="footer" id="contact">
  <footer class="inner">
    <ul class="contactlist">
      <li>
        <a href="mailto:foundation@travis-ci.org"><span class="icon-mail"></span><span>Email Travis Foundation</span></a>
      </li>
      <li>
        <a href="https://twitter.com/travis_fnd"><span class="icon-twitter"></span><span>Follow Travis Foundation</span></a>
      </li>
      <li>
        <a href="/imprint"><span class="icon-imprint"></span><span>Imprint</span></a>
      </li>
    </ul>
    <div class="call-to-travis">
      <p><a href="https://travis-ci.org/">An initiative run by Travis CI</a><span class="mascot"></span></p>
    </div>
  </footer>
</div>
{% include scripts.html %}