<div class="footer" id="contact">
  <footer class="inner">
    <ul class="contactlist">
      <li>
        <a href="#"><span class="icon-mail"></span><span>Email Travis Foundation</span></a>
      </li>
      <li>
        <a href="#"><span class="icon-twitter"></span><span>Follow Travis Foundation</span></a>
      </li>
    </ul>
    <div class="call-to-travis">
      <p><a href="#">An initiative run by Travis CI</a><span class="mascot"></span></p>
    </div>
  </footer>
</div>
<script src="/scripts/vendor/jquery-2.1.4.min.js"></script>
<script src="/scripts/vendor/jquery.widowFix.min.js"></script>
<script>
$(document).ready(function() {
  $('.about-text h2, .about-text p, .people-body p').widowFix();

  $('.toggle').on('click', function() {
    $('.blog-sidebar').toggleClass('is-open');
  });
});
</script>