<head>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PDK7DD5');</script>
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDK7DD5"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} {% unless page.short_title%}- Travis Foundation{% endunless %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ page.description }}">
  <link rel="stylesheet" href="{{ "/stylesheets/main.css" | prepend: site.baseurl }}">
  <link rel="alternate" href="/feed.xml" type="application/atom+xml" />

  <meta property="og:title" content="{{ page.title }} - Travis Foundation" />
  <meta property="og:url" content="http://foundation.travis-ci.org" />
  <meta property="og:description" content="Working towards a better open source community - An initiative run by Travis CI">
  <meta property="og:image" content="http://foundation.travis-ci.org/images/rebrand/favicon-96x96.png" />
</head>
