<header class="inner">
  <h1 class="logo">
    <a href="/">Travis Foundation</a>
  </h1>
  <nav class="navigation">
    <ul>
      <li>
        <a href="/#about">About</a>
      </li>
      <li>
        <a href="/projects">Our Projects</a>
      </li>
      <li>
        <a href="/grants">Open Source Grants</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/resources">Resources</a>
      </li>
      <li>
        <a href="/#contact">Contact</a>
      </li>
      <li class="toggle">
        <a href="/blog">Posts</a>
      </li>
    </ul>
  </nav>
</header>
