doctype html
html
  head
    meta charset="utf-8"
    title Travis Foundation
    link href="/styles/styles.css" rel="stylesheet"
    link href="/styles/fonts/opensans.css" rel="stylesheet" type="text/css"
    link href="/styles/fonts/lato.css" rel="stylesheet" type="text/css"
    link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"
    script src="/scripts/vendor/jquery-1.9.1.min.js"
    script src="/scripts/script.js"
  body
    header
      h1
        a href="/" Travis <span></span> Foundation

      ul
        li
          a href="/#projects" Projects
        / li
        /   a href="/#donate" Please donate!
        li
          a href="#faq" FAQ
        li
            a href="/#contact" Contact

    ' {{content}}

    footer
      ul.left
        li
          img#travis-mascot src="/images/travis-mascot-200px.png"
        li
          a href="http://about.travis-ci.org"
            ' An initiative run by Travis CI &rarr;
      h1
        a href="/" Travis <span></span> Foundation
      ul.right
        li
          a href="mailto:foundation@travis-ci.com" E-Mail
        li
          a href="/imprint" Imprint
        li
          a href="http://about.travis-ci.org/berlin"
            img#made-in-berlin src="/images/made-in-berlin-badge.png"
