.logo-list
  display: flex
  flex-direction: column
  padding: 0
  margin: 0
  list-style: none

.logo
  position: relative
  display: block
  height: auto
  overflow: hidden
  img
    width: 100%
    height: auto

  &.hor
    width: 300px

  &.ver
    width: 250px

.logo-hover
  background-color: rgba($dark-grey, 0.7)
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  will-change: opacity, transform
  transition: opacity 200ms ease, transform 200ms ease
  transform: scale(0.9) translateY(50%)
  opacity: 0

  &:hover,
  &:active
    opacity: 1
    transform: scale(1)

  p
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto
    height: 1.6em
    text-align: center
    text-transform: uppercase
    color: white
    font-weight: 400
    font-size: 12px
