---
title: RVM - Ruby Version Manager
layout: project
grants: true
--- 

<article>
  <div class="inner">
    <div class="project-intro">
      <p><a href="http://rvm.io">Ruby Version Manager</a> is a command-line tool which allows you to easily install, manage, and work with multiple ruby environments from interpreters to sets of gems. It has become well known for providing a consistent Ruby runtime environment that allows developers to build and deploy applications without worrying about Ruby versions and cross- platform dependencies.</p>
    </div>
    <div class="project-main">
      <section>
        <p>Michal Papis wants to create Ruby enVironment Manager (RVM 2.0) In addition to managing Ruby, RVM 2.0 autolibs will extend system package managers and install dependencies for databases, tools, libraries, and more.</p>
        <blockquote><p>One of the things I love about RVM is that it is designed to take all of the pain out of updating and maintaining a system with modern Rubies! RVM makes it easily accessible, yet very powerful and flexible.  It lets you move ahead of your package manager or operating system’s provided Ruby, yet still leave that original Ruby intact. It does that in a way that’s intuitive and simple for newcomers, yet still malleable and extendable for experienced Ruby developers.</p><cite><a href="https://twitter.com/ryszu">Rys Sommefeld</a></cite></blockquote>
        <blockquote>
          <p>When I heard about Travis Foundation and that they wanted to help the RVM project I got very excited, I knew this opens for a new world of possibilities, and it turns out it did - I'm looking forward to work with Paymill's team and support on bootstrapping RVM 2.0.</p>
          <cite><a href="https://twitter.com/mpapis">Michal Papis</a></cite>
        </blockquote>
      </section>
      <section>
        <h2>Find out more</h2>
        <ul class="bullet-list--inverted">
          <li><a href="https://github.com/wayneeseguin/rvm">{% include bullet-arrow.html %} Repository on Github</a></li>
          <li><a href="https://docs.google.com/a/bountysource.com/document/d/1xW9GeEpLOWPcddDg_hOPvK4oeLxJmU3Q5FiCNT7nTAc/edit">{% include bullet-arrow.html %} Plans for RVM 2.0</a></li>
          <li><a href="https://www.youtube.com/watch?feature=player_embedded&amp;v=wN-iIC3S1ZM">{% include bullet-arrow.html %} Video: RVM 2 - What we have learnt and where are we going</a></li>
        </ul>
      </section>
      <section class="project-supported">
        <h3>Supported by</h3>
        <p><a href="https://www.paymill.com"><img class="sponsor" src="/images/paymill.png" width="300" /></a></p>
      </section>
    </div>
  </div>
</article>
