' ---
  layout: default
  ---

// section#donate
//   h2 Please donate!
//   p
//     | To date
//     span#donors-count 947
//     | people and
//     span#sponsors-count 30
//     | companies have donated
//     span#donations-total $134,019
//     | in total.
//     | Now you can do your part, too :)
//
// section#private-packages.packages
//   ul
//     li.huge
//       h4 Huge
//       p.price $500
//       p All the stuff from the big package.
//       p Plus, ... what?
//       button Donate
//     li.big
//       h4 Big
//       p.price $200
//       p All the stuff from the Medium package.
//       p Plus, ... what?
//       button Donate
//     li.medium
//       h4 Medium
//       p.price $75
//       p All the stuff from the Small package with all the stickers.
//       p Plus, a personal thank you note from our team!
//       button Donate
//     li.small
//       h4 Small
//       p.price $35
//       p A bunch of very cool Travis stickers, along with stickers and stuff from our sponsors.
//       button Donate
//     li.tiny
//       h4 Tiny
//       p.price $10
//       p Each and every donation helps and is very welcome!
//       button Donate
//
// section#thanks-companies
//   h2 Thank you, companies!
//   p
//     | Please take a second to appreciate how amazing these companies
//     | are for supporting Travis Foundation. Check them out:
//
// section#sponsors
//   ul.platinum
//     li
//       a href="http://www.wooga.com"
//         img src="https://love.travis-ci.org/images/sponsors/wooga-210x210.png"
//       p
//         a href="http://www.wooga.com"
//         | is one of the most popular social games developers for web and mobile in the world. The company is based in Berlin, Europe's creative heart and mecca for tech industry innovators.
//       p
//         a href="http://www.wooga.com"
//         | was founded in 2009 and now employs 280 people from more than 40 nations, who work together to develop top titles for a global audience. The studio's signature approach to game design emphasizes emotional character development, usability, and superb localization. Wooga's free-to-play games are enjoyed by around 50 million players per month.
//       p
//         | For more information please visit:
//         a href="http://www.wooga.com"
//   ul.gold
//     li
//       a href="http://heroku.com"
//         img src="https://love.travis-ci.org/images/sponsors/heroku-205x130.png"
//       p Get up and running in minutes, and deploy instantly with git. Run and scale any type of app. Focus 100% on your code, and never think about servers, instances, or VMs again.
//     li
//       a href="http://nedap.com"
//         img src="https://love.travis-ci.org/images/sponsors/nedap-205x130.png"
//       p
//         | At
//         a href="http://nedap.com"
//         | we work on solutions for important, real problems like suffi&shy;cient food for a growing population, clean drinking water and smart net&shy;works for sustainable energy.
//   ul.silver
//     li
//       a href="http://zendesk.com"
//         img src="https://love.travis-ci.org/images/sponsors/zendesk-205x60.png"
//     li
//       a href="http://mogotest.com"
//         img src="https://love.travis-ci.org/images/sponsors/mogo-205x60.png"
//     li
//       a href="http://cloudant.com"
//         img src="https://love.travis-ci.org/images/sponsors/cloudant-205x60.jpg"
//     li
//       a href="http://agileanimal.com"
//         img src="https://love.travis-ci.org/images/sponsors/agileanimal-205x60.png"
//
// section#company-packages.packages
//   h3 Company packages
//   a.toggle
//     span
//   p
//     | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
//     | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
//     | minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
//     | ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
//     | voluptate velit esse cillum dolore eu fugiat nulla pariatur.
//   ul
//     li.platinum
//       h4 Platinum
//       p All the stuff from the Gold package.
//       p Plus, ... what?
//       button Donate
//     li.gold
//       h4 Gold
//       p All the stuff from the Silver package. Plus what?
//       button Donate
//     li.silver
//       h4 Silver
//       p Stuff!
//       button Donate
//
// section#thanks-folks
//   h2 Thank you, folks!
//   p This community is just amazing. Thank you so much!
//
// section#donors
//   img src="images/placeholder-donors.png"
//
//
