aside.blog-sidebar
  .blog-recent
    h3 Recent Posts
    ul
      li
        a href="" other post
      li
        a href="" some other post
      li
        a href="" and another
  .blog-twitter
    a.twitter-timeline data-dnt="true" href="https://twitter.com/travis_fnd"  data-widget-id="408987351906398208" Tweets von @travis_fnd
    javascript:
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
