footer
  ul.left
    li
      img#travis-mascot src="/images/travis-mascot-200px.png"
    li
      a href="http://about.travis-ci.org"
        ' An initiative run by Travis CI &rarr;
  h1
    a href="/" Travis <span></span> Foundation
  ul.right
    li
      a href="mailto:foundation@travis-ci.com" E-Mail
    li
      a href="/imprint" Imprint
    li
      img#made-in-berlin src="/images/made-in-berlin-badge.png"
