' ---
  layout: default
  ---

section#funds
  h2 Open Source Funds

  article
    P
      ' There are so many great ideas and creative developers in our community, we think should be supported.
      ' Often enough the idea is only the beginning and we want to help with a big next step: financial
      ' support. It doesn't matter to us, if it's a young project that needs funding for being kickstarted or an
      ' established project that needs funding to be continued:
      ' We want to help Open Source projects get started or continued by supporting developers and organize funding. 
    
    p
      ' Please meet our first project!

    P  
      img src="/images/rvm-diamond.png" width="100"

      
         
    P   
      a href="/rvm" RVM - Ruby Version Manager 
    P  
      ' We are happy to announce that we are launching our Open Source Funds together with 
      a href="rvm.io" RVM 
      ' and the great people of 
      a href="paymill.com" PAYMILL
      ', who are supporting the project. Starting Nov 20th, we have secured the funding for RVM for two
      ' months to give Michal Papis the chance to keep it running and work on RVM 2.0.

      a href="/rvm"Read on &rarr;


//    P
//      ' Want to help, fund, or have an own project you want to submit? 
//      a href="http://foundation.travis-ci.org/#contact" Get in touch.




    

