' ---
  layout: default
  ---

section#funds
  h2 Open Source Funds

  article
    P
      ' There are so many great ideas and creative developers in our community, we think should be supported.
      ' A wonderful idea is only the beginning and we want to help with one of the big next steps: financial
      ' support. If it's a young project that needs help being kickstarted or an
      ' established project to be continued:
      ' We want to help expetional Open Source projects by supporting developers and organize funding.

    h3 First Project
    P
      img src="/images/rvm-diamond.png" width="200"

    P
      a href="/grants/rvm" RVM - Ruby Version Manager

    P
      ' We are happy to announce that we are launching our Open Source Funds together with RVM
      ' and the great people of PAYMILL, who are supporting the project. Starting Nov 20th, we have secured the ' funding for RVM for two months to give Michal Papis the chance to keep it running and work on RVM 2.0.

      a href="/grants/rvm" Read on &rarr;

    h3 Future Projects
    P

      ' We are currently talking to interested Open Source developers and companies. Stay tuned  - the next
      ' project will be coming soon! Want to help, fund, or have an own project you want to submit?
      a href="http://foundation.travis-ci.org/#contact" Get in touch.

    h3 Supported by
    img src="/images/paymill-grey.png" width="300"






