/* line 1, source/styles/_base.sass */
* {
  box-sizing: border-box; }

/* line 4, source/styles/_base.sass */
html, body {
  height: 100%;
  padding: 0 0; }

/* line 8, source/styles/_base.sass */
html {
  font-size: 100%;
  margin: 0 0; }

/* line 12, source/styles/_base.sass */
body {
  position: relative;
  font: 100 1rem/1.75 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666666;
  min-width: 64rem;
  margin: 0 auto; }

/* line 19, source/styles/_base.sass */
ul {
  margin: 0;
  padding: 0; }

/* line 23, source/styles/_base.sass */
li {
  list-style-type: none; }

/* line 26, source/styles/_base.sass */
h1, h2, h3, h4 {
  margin-top: 0; }

/* line 29, source/styles/_base.sass */
h2 {
  margin: 7.5rem 0;
  font: 200 4rem "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center; }

/* line 33, source/styles/_base.sass */
h3 {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center; }

/* line 37, source/styles/_base.sass */
p {
  font-size: 1.25rem; }

/* line 39, source/styles/_base.sass */
p:last-child {
  margin-bottom: 0; }

/* line 41, source/styles/_base.sass */
a {
  color: #eb2e66;
  text-decoration: none; }

/* line 44, source/styles/_base.sass */
a:hover {
  text-decoration: underline; }

/* line 47, source/styles/_base.sass */
article {
  padding: 4em 0;
  text-align: center;
  box-shadow: inset 1px 6px 12px -5px #aaaaaa;
  background: #eeeeee url("/images/patterns/subtle_freckles_2.png") fixed; }
  /* line 52, source/styles/_base.sass */
  article p {
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto; }

/* line 1, source/styles/_blurb.sass */
#blurb {
  position: relative;
  margin-top: 5rem;
  height: -webkit-calc(100% - 170px);
  height: -moz-calc(100% - 170px);
  height: -ie-calc(100% - 170px);
  height: -o-calc(100% - 170px);
  height: calc(100% - 170px);
  min-height: 25rem;
  max-height: 65rem; }
  /* line 8, source/styles/_blurb.sass */
  #blurb h2 {
    position: relative;
    width: 920px;
    top: -webkit-calc(50% - 130px);
    top: -moz-calc(50% - 130px);
    top: -ie-calc(50% - 130px);
    top: -o-calc(50% - 130px);
    top: calc(50% - 130px);
    margin: 0 auto;
    font-size: 5rem;
    font-weight: 100;
    color: #faea5b;
    z-index: 1;
    position: relative;
    color: #faea5b;
    z-index: 1;
    position: relative;
    color: #faea5b; }
    /* line 16, source/styles/_blurb.sass */
    #blurb h2 strong {
      font-weight: 800; }
    /* line 55, source/styles/_mixins.sass */
    #blurb h2:before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 2px;
      left: -webkit-calc(50% - 50%);
      left: -moz-calc(50% - 50%);
      left: -ie-calc(50% - 50%);
      left: -o-calc(50% - 50%);
      left: calc(50% - 50%);
      width: 100%;
      height: 50%;
      background-color: #5d4585;
      -webkit-transform: rotate(-0.8deg);
      -moz-transform: rotate(-0.8deg);
      -ms-transform: rotate(-0.8deg);
      -o-transform: rotate(-0.8deg);
      transform: rotate(-0.8deg); }
    /* line 55, source/styles/_mixins.sass */
    #blurb h2:after {
      content: "";
      z-index: -1;
      position: absolute;
      top: 52%;
      left: -webkit-calc(50% - 43%%);
      left: -moz-calc(50% - 43%%);
      left: -ie-calc(50% - 43%%);
      left: -o-calc(50% - 43%%);
      left: calc(50% - 43%%);
      width: 86%%;
      height: 50%;
      background-color: #eb2e66;
      -webkit-transform: rotate(0.4deg);
      -moz-transform: rotate(0.4deg);
      -ms-transform: rotate(0.4deg);
      -o-transform: rotate(0.4deg);
      transform: rotate(0.4deg); }
  /* line 22, source/styles/_blurb.sass */
  #blurb > a {
    position: absolute;
    display: block;
    bottom: -2.5rem;
    left: -webkit-calc(50% - 2.5rem);
    left: -moz-calc(50% - 2.5rem);
    left: -ie-calc(50% - 2.5rem);
    left: -o-calc(50% - 2.5rem);
    left: calc(50% - 2.5rem);
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    border-radius: 5rem;
    background-color: #eb2e66;
    color: white; }
    /* line 29, source/styles/_blurb.sass */
    #blurb > a:hover {
      text-decoration: none; }
  /* line 32, source/styles/_blurb.sass */
  #blurb p {
    position: absolute;
    left: 2.5rem;
    top: 0;
    margin: 0; }
    /* line 38, source/styles/_blurb.sass */
    #blurb p a {
      color: #cccccc;
      font-size: 0.7em; }
      /* line 41, source/styles/_blurb.sass */
      #blurb p a:hover {
        text-decoration: underline; }

/* line 44, source/styles/_blurb.sass */
#lead {
  padding: 5rem 0;
  background: #eeeeee url("/images/patterns/subtle_freckles_2.png") fixed;
  box-shadow: inset 1px 6px 12px -5px #aaaaaa; }
  /* line 48, source/styles/_blurb.sass */
  #lead p {
    margin: 0 auto;
    max-width: 56rem;
    text-align: center; }

/* line 1, source/styles/_projects.sass */
#projects {
  padding: 0;
  display: table; }
  /* line 5, source/styles/_projects.sass */
  #projects ul {
    display: table-row; }
  /* line 7, source/styles/_projects.sass */
  #projects li {
    display: table-cell;
    position: relative;
    overflow: hidden;
    width: 33%;
    padding: 2.5rem;
    border-right: 1px solid #eeeeee; }
    /* line 15, source/styles/_projects.sass */
    #projects li:last-child {
      border-right: 0px;
      overflow: hidden; }
    /* line 19, source/styles/_projects.sass */
    #projects li.tbd:before {
      content: "tbd";
      position: absolute;
      top: 14px;
      right: -23px;
      width: 50px;
      height: 0;
      line-height: 24px;
      text-align: center;
      color: white;
      border: 0px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      border-bottom: 24px solid #dddddd;
      border-left: 24px solid transparent;
      border-right: 24px solid transparent; }
    /* line 22, source/styles/_projects.sass */
    #projects li:after {
      left: -webkit-calc(50% - 25px);
      left: -moz-calc(50% - 25px);
      left: -ie-calc(50% - 25px);
      left: -o-calc(50% - 25px);
      left: calc(50% - 25px);
      bottom: 0;
      margin: 0 auto;
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      border-bottom: 25px solid transparent; }
  /* line 28, source/styles/_projects.sass */
  #projects h3 {
    text-align: left; }
    /* line 30, source/styles/_projects.sass */
    #projects h3 a {
      cursor: pointer; }
  /* line 32, source/styles/_projects.sass */
  #projects p {
    font-size: 0.95rem; }

/* line 35, source/styles/_projects.sass */
#testimonials {
  position: relative;
  background: url(/images/backgrounds/testimonials-2.jpg) no-repeat center 0 fixed;
  background-size: cover; }
  /* line 40, source/styles/_projects.sass */
  #testimonials ul {
    padding: 5rem 0; }
  /* line 42, source/styles/_projects.sass */
  #testimonials li {
    *zoom: 1;
    max-width: 790px;
    margin: 0 auto;
    display: none; }
    /* line 18, source/vendor/bourbon/addons/_clearfix.scss */
    #testimonials li:before, #testimonials li:after {
      content: " ";
      display: table; }
    /* line 23, source/vendor/bourbon/addons/_clearfix.scss */
    #testimonials li:after {
      clear: both; }
  /* line 47, source/styles/_projects.sass */
  #testimonials li:first-child {
    display: block; }
  /* line 49, source/styles/_projects.sass */
  #testimonials img, #testimonials video {
    float: left;
    width: 268px;
    height: 182px;
    margin-top: 4px;
    margin-right: 40px;
    border: 4px solid white;
    border-radius: 4px; }
  /* line 57, source/styles/_projects.sass */
  #testimonials h3 {
    text-align: left; }
  /* line 59, source/styles/_projects.sass */
  #testimonials p {
    font-size: 1.1rem;
    color: white; }
  /* line 63, source/styles/_projects.sass */
  #testimonials > a {
    position: absolute;
    top: -webkit-calc(50% - 25px);
    top: -moz-calc(50% - 25px);
    top: -ie-calc(50% - 25px);
    top: -o-calc(50% - 25px);
    top: calc(50% - 25px);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    color: white !important;
    font-size: 1.25rem; }
    /* line 70, source/styles/_projects.sass */
    #testimonials > a:hover {
      text-decoration: none; }
  /* line 73, source/styles/_projects.sass */
  #testimonials a#prev-testimonial {
    left: 40px; }
    /* line 95, source/styles/_mixins.sass */
    #testimonials a#prev-testimonial:after {
      content: "\f053";
      display: inline-block;
      width: 1em;
      text-decoration: inherit;
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      line-height: 1em; }
  /* line 77, source/styles/_projects.sass */
  #testimonials a#next-testimonial {
    right: 40px; }
    /* line 95, source/styles/_mixins.sass */
    #testimonials a#next-testimonial:after {
      content: "\f054";
      display: inline-block;
      width: 1em;
      text-decoration: inherit;
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      line-height: 1em; }

/* line 84, source/styles/_projects.sass */
.rgsoc #projects li#rgsoc {
  background-color: #e6e3ec;
  border-color: transparent; }
  /* line 87, source/styles/_projects.sass */
  .rgsoc #projects li#rgsoc:after {
    display: block;
    border-bottom-color: #533e77; }
/* line 90, source/styles/_projects.sass */
.rgsoc #projects a {
  color: #533e77; }
/* line 93, source/styles/_projects.sass */
.rgsoc #testimonials ul {
  background-color: rgba(93, 69, 133, 0.8); }
/* line 95, source/styles/_projects.sass */
.rgsoc #testimonials h3 {
  color: #faea5b; }
/* line 97, source/styles/_projects.sass */
.rgsoc #testimonials a {
  color: #faea5b; }
/* line 99, source/styles/_projects.sass */
.rgsoc #testimonials > a {
  background-color: #5d4585; }
  /* line 101, source/styles/_projects.sass */
  .rgsoc #testimonials > a:after {
    background-color: #5d4585; }

/* line 84, source/styles/_projects.sass */
.diversity #projects li#diversity {
  background-color: #fbd5e0;
  border-color: transparent; }
  /* line 87, source/styles/_projects.sass */
  .diversity #projects li#diversity:after {
    display: block;
    border-bottom-color: #d3295b; }
/* line 90, source/styles/_projects.sass */
.diversity #projects a {
  color: #d3295b; }
/* line 93, source/styles/_projects.sass */
.diversity #testimonials ul {
  background-color: rgba(255, 43, 102, 0.8); }
/* line 95, source/styles/_projects.sass */
.diversity #testimonials h3 {
  color: #faea5b; }
/* line 97, source/styles/_projects.sass */
.diversity #testimonials a {
  color: #faea5b; }
/* line 99, source/styles/_projects.sass */
.diversity #testimonials > a {
  background-color: #eb2e66; }
  /* line 101, source/styles/_projects.sass */
  .diversity #testimonials > a:after {
    background-color: #eb2e66; }

/* line 84, source/styles/_projects.sass */
.internships #projects li#internships {
  background-color: #cce2f4;
  border-color: transparent; }
  /* line 87, source/styles/_projects.sass */
  .internships #projects li#internships:after {
    display: block;
    border-bottom-color: #0066b4; }
/* line 90, source/styles/_projects.sass */
.internships #projects a {
  color: #0066b4; }
/* line 93, source/styles/_projects.sass */
.internships #testimonials ul {
  background-color: rgba(0, 114, 200, 0.8); }
/* line 95, source/styles/_projects.sass */
.internships #testimonials h3 {
  color: #faea5b; }
/* line 97, source/styles/_projects.sass */
.internships #testimonials a {
  color: #faea5b; }
/* line 99, source/styles/_projects.sass */
.internships #testimonials > a {
  background-color: #0072c8; }
  /* line 101, source/styles/_projects.sass */
  .internships #testimonials > a:after {
    background-color: #0072c8; }

/* line 63, source/styles.sass */
header {
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  vertical-align: middle;
  background-color: white; }

/* line 71, source/styles.sass */
header, footer {
  height: 5rem;
  padding: 0 2.5rem;
  line-height: 5rem; }
  /* line 75, source/styles.sass */
  header h1, footer h1 {
    color: black; }
    /* line 77, source/styles.sass */
    header h1 a:hover, footer h1 a:hover {
      text-decoration: none; }
  /* line 79, source/styles.sass */
  header li, footer li {
    display: inline-block;
    margin-right: 1.25rem; }
  /* line 82, source/styles.sass */
  header a, footer a {
    color: black; }

/* line 86, source/styles.sass */
header h1 {
  margin: auto 0;
  font-weight: 500;
  float: left;
  letter-spacing: 1px; }
  /* line 91, source/styles.sass */
  header h1 span {
    display: inline-block;
    background: url("/images/icons/heart.svg") no-repeat top left;
    width: 23px;
    height: 23px;
    background-size: 23px 23px; }
/* line 93, source/styles.sass */
header ul {
  float: right; }

/* line 96, source/styles.sass */
footer {
  width: 100%;
  display: table; }
  /* line 99, source/styles.sass */
  footer > * {
    display: table-cell;
    width: 33%;
    padding: 1rem 0; }
  /* line 103, source/styles.sass */
  footer h1 {
    text-align: center;
    font-size: 1rem; }
    /* line 106, source/styles.sass */
    footer h1 span {
      display: inline-block;
      background: url("/images/icons/heart.svg") no-repeat top left;
      width: 14px;
      height: 14px;
      background-size: 14px 14px; }
  /* line 108, source/styles.sass */
  footer .right {
    text-align: right; }
  /* line 110, source/styles.sass */
  footer img {
    vertical-align: middle;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); }
    /* line 115, source/styles.sass */
    footer img:hover {
      filter: none;
      -webkit-filter: none; }
  /* line 118, source/styles.sass */
  footer #travis-mascot {
    width: 3rem; }
  /* line 120, source/styles.sass */
  footer #made-in-berlin {
    width: 3.5rem; }

/* line 124, source/styles.sass */
#about {
  position: relative; }
  /* line 126, source/styles.sass */
  #about h2 {
    z-index: 1;
    position: relative;
    color: white; }
    /* line 55, source/styles/_mixins.sass */
    #about h2:before {
      content: "";
      z-index: -1;
      position: absolute;
      top: -0.05rem;
      left: -webkit-calc(50% - 22rem);
      left: -moz-calc(50% - 22rem);
      left: -ie-calc(50% - 22rem);
      left: -o-calc(50% - 22rem);
      left: calc(50% - 22rem);
      width: 44rem;
      height: 100%;
      background-color: #eb2e66;
      -webkit-transform: rotate(0.8deg);
      -moz-transform: rotate(0.8deg);
      -ms-transform: rotate(0.8deg);
      -o-transform: rotate(0.8deg);
      transform: rotate(0.8deg); }

/* line 130, source/styles.sass */
#contact {
  position: relative; }
  /* line 132, source/styles.sass */
  #contact h2 {
    z-index: 1;
    position: relative;
    color: white; }
    /* line 55, source/styles/_mixins.sass */
    #contact h2:before {
      content: "";
      z-index: -1;
      position: absolute;
      top: -0.05rem;
      left: -webkit-calc(50% - 22rem);
      left: -moz-calc(50% - 22rem);
      left: -ie-calc(50% - 22rem);
      left: -o-calc(50% - 22rem);
      left: calc(50% - 22rem);
      width: 44rem;
      height: 100%;
      background-color: #5d4585;
      -webkit-transform: rotate(-0.8deg);
      -moz-transform: rotate(-0.8deg);
      -ms-transform: rotate(-0.8deg);
      -o-transform: rotate(-0.8deg);
      transform: rotate(-0.8deg); }
  /* line 134, source/styles.sass */
  #contact > a {
    content: " ";
    position: absolute;
    display: block;
    top: 10rem;
    color: white;
    font-size: 1.5rem;
    left: -webkit-calc(50% - 2.5rem);
    left: -moz-calc(50% - 2.5rem);
    left: -ie-calc(50% - 2.5rem);
    left: -o-calc(50% - 2.5rem);
    left: calc(50% - 2.5rem);
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    border-radius: 5rem;
    background-color: #eb2e66; }
    /* line 95, source/styles/_mixins.sass */
    #contact > a:after {
      content: "\f078";
      display: inline-block;
      width: 1em;
      text-decoration: inherit;
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      line-height: 1em; }
    /* line 144, source/styles.sass */
    #contact > a:hover {
      text-decoration: none; }
