/* line 2, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_blurb.sass */
#blurb h2 {
  position: absolute;
  z-index: 1;
  width: 900px;
  top: calc(50% - 40px);
  left: 50%;
  margin-top: -100px;
  margin-left: -450px;
  line-height: 120%;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 5em;
  font-weight: 100;
  color: #faea5b; }
  /* line 15, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_blurb.sass */
  #blurb h2 strong {
    font-weight: 800; }
  /* line 18, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_blurb.sass */
  #blurb h2:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 2px;
    left: -1%;
    width: 102%;
    height: 50%;
    background-color: #5d4585;
    -webkit-transform: rotate(-0.8deg);
    -moz-transform: rotate(-0.8deg);
    -ms-transform: rotate(-0.8deg);
    -o-transform: rotate(-0.8deg);
    transform: rotate(-0.8deg); }
  /* line 29, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_blurb.sass */
  #blurb h2:after {
    z-index: -1;
    content: "";
    position: absolute;
    bottom: -8px;
    left: 7%;
    width: 86%;
    height: 50%;
    background-color: #eb2e66;
    -webkit-transform: rotate(0.4deg);
    -moz-transform: rotate(0.4deg);
    -ms-transform: rotate(0.4deg);
    -o-transform: rotate(0.4deg);
    transform: rotate(0.4deg); }
/* line 40, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_blurb.sass */
#blurb > a {
  position: absolute;
  display: block;
  left: calc(50% - 40px);
  bottom: -40px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #eb2e66;
  color: white;
  line-height: 80px;
  text-align: center; }
  /* line 52, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_blurb.sass */
  #blurb > a:hover {
    text-decoration: none; }
/* line 55, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_blurb.sass */
#blurb p {
  position: absolute;
  right: 65px;
  top: 0;
  margin: 0; }
  /* line 60, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_blurb.sass */
  #blurb p a {
    color: #eb2e66;
    font-size: 0.7em; }
    /* line 63, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_blurb.sass */
    #blurb p a:hover {
      text-decoration: underline; }

/* line 2, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
#projects ul {
  display: table-row; }
/* line 4, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
#projects li {
  display: table-cell;
  position: relative;
  overflow: hidden;
  width: 33%;
  padding: 40px;
  border-right: 1px solid #eeeeee; }
  /* line 12, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
  #projects li:last-child {
    border-right: 0px;
    overflow: hidden; }
  /* line 16, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
  #projects li.tbd:before {
    content: "tbd";
    position: absolute;
    top: 10px;
    right: -30px;
    width: 100px;
    height: 22px;
    text-align: center;
    color: white;
    border: 0px;
    background-color: #dddddd;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  /* line 29, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
  #projects li:after {
    content: "";
    position: absolute;
    left: calc(50% - 25px);
    bottom: -1px;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent; }
/* line 39, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
#projects h3 a {
  cursor: pointer; }
/* line 41, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
#projects p {
  font-size: 0.95em; }

/* line 46, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
.rgsoc #projects li#rgsoc {
  background-color: #e6e3ec;
  border-color: transparent; }
  /* line 49, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
  .rgsoc #projects li#rgsoc:after {
    display: block;
    border-bottom: 25px solid #533e77; }
/* line 54, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
.rgsoc #projects a {
  color: #533e77; }
/* line 57, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
.rgsoc #testimonials ul {
  background-color: rgba(93, 69, 133, 0.8); }
/* line 59, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
.rgsoc #testimonials h3 {
  color: #faea5b; }
/* line 61, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
.rgsoc #testimonials > a {
  background-color: #5d4585; }
  /* line 63, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
  .rgsoc #testimonials > a:after {
    background-color: #5d4585; }

/* line 68, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
.diversity #projects li#diversity {
  background-color: #fbd5e0;
  border-color: transparent; }
  /* line 71, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
  .diversity #projects li#diversity:after {
    display: block;
    border-bottom: 25px solid #d3295b; }
/* line 76, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
.diversity #projects a {
  color: #d3295b; }
/* line 79, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
.diversity #testimonials ul {
  background-color: rgba(255, 43, 102, 0.8); }
/* line 81, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
.diversity #testimonials h3 {
  color: #faea5b; }
/* line 83, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
.diversity #testimonials > a {
  background-color: #eb2e66; }
  /* line 85, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
  .diversity #testimonials > a:after {
    background-color: #eb2e66; }

/* line 90, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
.internships #projects li#internships {
  background-color: #cce2f4;
  border-color: transparent; }
  /* line 93, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
  .internships #projects li#internships:after {
    display: block;
    border-bottom: 25px solid #0066b4; }
/* line 98, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
.internships #projects a {
  color: #0066b4; }
/* line 101, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
.internships #testimonials ul {
  background-color: rgba(0, 114, 200, 0.8); }
/* line 103, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
.internships #testimonials h3 {
  color: #faea5b; }
/* line 105, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
.internships #testimonials > a {
  background-color: #0072c8; }
  /* line 107, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_projects.sass */
  .internships #testimonials > a:after {
    background-color: #0072c8; }

/* line 3, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_testimonials.sass */
#testimonials ul {
  margin: -5em 0;
  padding: 5em 0; }
/* line 6, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_testimonials.sass */
#testimonials li {
  *zoom: 1;
  max-width: 770px;
  margin: 0 auto;
  display: none; }
  /* line 18, source/vendor/bourbon/addons/_clearfix.scss */
  #testimonials li:before, #testimonials li:after {
    content: " ";
    display: table; }
  /* line 23, source/vendor/bourbon/addons/_clearfix.scss */
  #testimonials li:after {
    clear: both; }
/* line 11, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_testimonials.sass */
#testimonials li:first-child {
  display: block; }
/* line 13, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_testimonials.sass */
#testimonials img, #testimonials video {
  float: left;
  width: 245px;
  height: 165px;
  margin-top: 4px;
  margin-right: 40px;
  border: 4px solid white;
  border-radius: 4px; }
/* line 21, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_testimonials.sass */
#testimonials p {
  color: white; }
/* line 24, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_testimonials.sass */
#testimonials > a {
  position: absolute;
  top: calc(50% - 25px);
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 25px;
  cursor: pointer; }
  /* line 32, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_testimonials.sass */
  #testimonials > a:before {
    content: "";
    position: absolute;
    top: 18px;
    width: 14px;
    height: 14px;
    background: white;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  /* line 40, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_testimonials.sass */
  #testimonials > a:after {
    content: "";
    position: absolute;
    top: 20px;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
/* line 48, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_testimonials.sass */
#testimonials a#prev-testimonial {
  left: 40px; }
  /* line 50, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_testimonials.sass */
  #testimonials a#prev-testimonial:before {
    left: 20px; }
  /* line 52, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_testimonials.sass */
  #testimonials a#prev-testimonial:after {
    left: 27px; }
/* line 55, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_testimonials.sass */
#testimonials a#next-testimonial {
  right: 40px; }
  /* line 57, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_testimonials.sass */
  #testimonials a#next-testimonial:before {
    left: 17px; }
  /* line 59, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_testimonials.sass */
  #testimonials a#next-testimonial:after {
    left: 14px; }

/* line 2, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_sponsors.sass */
#sponsors .platinum, #sponsors .gold, #sponsors .silver {
  clear: both;
  position: relative;
  margin: 20px auto 0 auto;
  width: 1060px;
  *zoom: 1; }
  /* line 18, source/vendor/bourbon/addons/_clearfix.scss */
  #sponsors .platinum:before, #sponsors .platinum:after, #sponsors .gold:before, #sponsors .gold:after, #sponsors .silver:before, #sponsors .silver:after {
    content: " ";
    display: table; }
  /* line 23, source/vendor/bourbon/addons/_clearfix.scss */
  #sponsors .platinum:after, #sponsors .gold:after, #sponsors .silver:after {
    clear: both; }
  /* line 9, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_sponsors.sass */
  #sponsors .platinum li, #sponsors .gold li, #sponsors .silver li {
    float: left;
    padding: 20px;
    margin-right: 20px;
    background-color: white;
    border-radius: 8px; }
    /* line 15, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_sponsors.sass */
    #sponsors .platinum li:last-child, #sponsors .gold li:last-child, #sponsors .silver li:last-child {
      margin-right: 0; }
  /* line 17, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_sponsors.sass */
  #sponsors .platinum img, #sponsors .gold img, #sponsors .silver img {
    float: left;
    margin-right: 20px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background-color: white; }
  /* line 23, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_sponsors.sass */
  #sponsors .platinum p, #sponsors .gold p, #sponsors .silver p {
    font-size: 1em; }
    /* line 25, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_sponsors.sass */
    #sponsors .platinum p:first-of-type, #sponsors .gold p:first-of-type, #sponsors .silver p:first-of-type {
      margin-top: 0; }
/* line 28, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_sponsors.sass */
#sponsors .platinum {
  margin-top: 0; }
  /* line 30, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_sponsors.sass */
  #sponsors .platinum li {
    width: 100%;
    font-size: 14px; }
  /* line 33, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_sponsors.sass */
  #sponsors .platinum img {
    height: 210px; }
/* line 37, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_sponsors.sass */
#sponsors .gold li {
  width: calc(50% - 10px);
  font-size: 13px; }
/* line 40, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_sponsors.sass */
#sponsors .gold img {
  height: 130px;
  width: 210px; }
/* line 45, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_sponsors.sass */
#sponsors .silver img {
  width: 210px;
  margin-right: 0; }

/* line 1, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_packages.sass */
.packages {
  *zoom: 1; }
  /* line 18, source/vendor/bourbon/addons/_clearfix.scss */
  .packages:before, .packages:after {
    content: " ";
    display: table; }
  /* line 23, source/vendor/bourbon/addons/_clearfix.scss */
  .packages:after {
    clear: both; }
  /* line 3, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_packages.sass */
  .packages li {
    float: left;
    width: 18%;
    margin: 0 1.25%;
    padding: 20px;
    background-color: white;
    border-radius: 4px; }
  /* line 10, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_packages.sass */
  .packages li:first-child {
    margin-left: 0; }
  /* line 12, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_packages.sass */
  .packages li:last-child {
    margin-right: 0; }
  /* line 14, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_packages.sass */
  .packages h4 {
    font-size: 1.9em;
    font-weight: 100;
    text-align: center;
    margin-bottom: 0.5em; }
  /* line 19, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_packages.sass */
  .packages p.price {
    margin-top: 0;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    color: #aaaaaa; }
  /* line 25, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_packages.sass */
  .packages p {
    font-size: 0.9em; }
  /* line 27, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_packages.sass */
  .packages button {
    margin: 1.25em auto 0 auto;
    width: 100%;
    height: 3em;
    font-size: 1.17em;
    color: white;
    color: white;
    background-color: #0072c8;
    border: 0px;
    border-radius: 4px; }

/* line 39, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_packages.sass */
#thanks-companies > a {
  position: absolute;
  cursor: pointer;
  top: 44px;
  right: 40px;
  padding-right: 70px;
  color: #aaaaaa; }
  /* line 47, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_packages.sass */
  #thanks-companies > a span {
    display: block;
    position: absolute;
    top: -11px;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #d4d8d8;
    border-radius: 25px; }
    /* line 56, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_packages.sass */
    #thanks-companies > a span:before {
      content: "";
      position: absolute;
      left: 18px;
      width: 14px;
      height: 14px;
      background: white;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    /* line 64, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_packages.sass */
    #thanks-companies > a span:after {
      content: "";
      position: absolute;
      left: 20px;
      width: 10px;
      height: 10px;
      background: #d4d8d8;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
/* line 74, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_packages.sass */
#thanks-companies:not(.expanded) h3 {
  margin-bottom: 0; }
/* line 76, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_packages.sass */
#thanks-companies:not(.expanded):hover > a:before {
  content: "How do I sponsor?"; }
/* line 79, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_packages.sass */
#thanks-companies:not(.expanded) > a span:before {
  top: 17px; }
/* line 81, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_packages.sass */
#thanks-companies:not(.expanded) > a span:after {
  top: 14px; }
/* line 84, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_packages.sass */
#thanks-companies:not(.expanded) p, #thanks-companies:not(.expanded) ul {
  display: none; }
/* line 87, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_packages.sass */
#thanks-companies.expanded:hover a:before {
  content: "Hide"; }
/* line 90, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_packages.sass */
#thanks-companies.expanded > a span:before {
  top: 20px; }
/* line 92, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_packages.sass */
#thanks-companies.expanded > a span:after {
  top: 27px; }
/* line 95, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_packages.sass */
#thanks-companies ul {
  margin-top: 40px; }

/* line 55, source/styles.sass */
html, body {
  height: 100%; }

/* line 58, source/styles.sass */
body {
  position: relative;
  min-width: 1024px;
  margin: 80px 0;
  padding: 0 0 0 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 1em;
  color: #666666; }

/* line 67, source/styles.sass */
* {
  box-sizing: border-box; }

/* line 70, source/styles.sass */
ul {
  margin: 0;
  padding: 0; }

/* line 74, source/styles.sass */
li {
  list-style-type: none; }

/* line 77, source/styles.sass */
h1, h2, h3, h4 {
  margin-top: 0;
  font-weight: 500; }

/* line 80, source/styles.sass */
h2 {
  margin-top: 2em;
  margin-bottom: 2em;
  line-height: 100%;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4em;
  font-weight: 200;
  text-align: center; }

/* line 88, source/styles.sass */
h3 {
  font-size: 1.4em; }

/* line 90, source/styles.sass */
p {
  font-size: 1.15em;
  line-height: 170%; }

/* line 93, source/styles.sass */
p:last-child {
  margin-bottom: 0; }

/* line 95, source/styles.sass */
a {
  color: #eb2e66;
  text-decoration: none; }

/* line 98, source/styles.sass */
a:hover {
  text-decoration: underline; }

/* line 101, source/styles.sass */
header {
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 40px;
  line-height: 80px;
  vertical-align: middle;
  background-color: white; }

/* line 112, source/styles.sass */
header, footer {
  *zoom: 1; }
  /* line 18, source/vendor/bourbon/addons/_clearfix.scss */
  header:before, header:after, footer:before, footer:after {
    content: " ";
    display: table; }
  /* line 23, source/vendor/bourbon/addons/_clearfix.scss */
  header:after, footer:after {
    clear: both; }
  /* line 114, source/styles.sass */
  header h1, footer h1 {
    color: black;
    letter-spacing: 1px; }
    /* line 117, source/styles.sass */
    header h1 a:hover, footer h1 a:hover {
      text-decoration: none; }
    /* line 119, source/styles.sass */
    header h1 span, footer h1 span {
      display: inline-block;
      background: url(/images/icons/heart.svg) no-repeat top left; }
  /* line 123, source/styles.sass */
  header ul, footer ul {
    float: right; }
  /* line 125, source/styles.sass */
  header li, footer li {
    display: inline-block;
    margin-right: 25px; }
  /* line 128, source/styles.sass */
  header a, footer a {
    color: black; }

/* line 132, source/styles.sass */
header h1 {
  margin: auto 0;
  float: left; }
  /* line 135, source/styles.sass */
  header h1 span {
    width: 23px;
    height: 23px;
    background-size: 23px 23px; }

/* line 139, source/styles.sass */
footer {
  position: relative; }
  /* line 141, source/styles.sass */
  footer h1 {
    text-align: center;
    font-size: 1em; }
    /* line 144, source/styles.sass */
    footer h1 span {
      width: 14px;
      height: 14px;
      background-size: 14px 14px; }
  /* line 148, source/styles.sass */
  footer p {
    position: absolute;
    right: 65px;
    margin: 0;
    font-size: 0.8em; }
    /* line 153, source/styles.sass */
    footer p a {
      text-decoration: underline; }
  /* line 156, source/styles.sass */
  footer ul {
    position: absolute;
    left: 65px; }

/* line 160, source/styles.sass */
#blurb {
  position: relative;
  height: calc(100% - 160px);
  min-height: 400px;
  max-height: 700px;
  padding-top: 0px;
  padding-bottom: 40px; }

/* line 168, source/styles.sass */
section {
  padding: 2em 5em; }

/* line 171, source/styles.sass */
#lead {
  padding: 6em 0 5em 0;
  background: #eeeeee url("/images/patterns/subtle_freckles_2.png") fixed;
  box-shadow: inset 1px 6px 12px -5px #aaaaaa; }
  /* line 175, source/styles.sass */
  #lead p {
    margin: 0 auto;
    max-width: 840px;
    text-align: center; }

/* line 180, source/styles.sass */
#projects {
  padding: 0;
  display: table; }

/* line 184, source/styles.sass */
#testimonials {
  position: relative;
  padding: 5em 0;
  background: url(/images/backgrounds/testimonials-2.jpg) no-repeat center 0px fixed;
  background-size: cover; }

/* line 191, source/styles.sass */
#donate h2 {
  position: relative;
  color: white; }
  /* line 4, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_mixins.sass */
  #donate h2:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: -0.1em;
    left: calc(50% -  250px );
    width: 500px;
    height: 1.2em;
    background-color: #5d4585;
    -webkit-transform: rotate(-0.8deg);
    -moz-transform: rotate(-0.8deg);
    -ms-transform: rotate(-0.8deg);
    -o-transform: rotate(-0.8deg);
    transform: rotate(-0.8deg); }
/* line 193, source/styles.sass */
#donate p {
  max-width: 580px;
  margin: 0 auto;
  text-align: center; }
/* line 198, source/styles.sass */
#donate #donations-total {
  background-color: #fbf08c; }

/* line 201, source/styles.sass */
#private-packages {
  background: url(/images/backgrounds/testimonials-2.jpg) no-repeat center 0px fixed;
  background-size: cover; }

/* line 205, source/styles.sass */
#company-packages {
  position: relative;
  padding: 40px;
  background-color: #ecf0f1; }
  /* line 209, source/styles.sass */
  #company-packages h3 {
    font-size: 1.6em; }

/* line 213, source/styles.sass */
#thanks-companies h2 {
  position: relative;
  color: white; }
  /* line 4, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_mixins.sass */
  #thanks-companies h2:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: -0.15em;
    left: calc(50% -  350px );
    width: 700px;
    height: 1.3em;
    background-color: #5d4585;
    -webkit-transform: rotate(0.8deg);
    -moz-transform: rotate(0.8deg);
    -ms-transform: rotate(0.8deg);
    -o-transform: rotate(0.8deg);
    transform: rotate(0.8deg); }
/* line 215, source/styles.sass */
#thanks-companies p {
  max-width: 900px;
  text-align: center;
  margin: 0 auto; }

/* line 220, source/styles.sass */
#sponsors {
  background: #eeeeee url("/images/patterns/subtle_freckles_2.png") fixed;
  box-shadow: inset 0px 5px 5px #dddddd; }

/* line 226, source/styles.sass */
#thanks-folks h2 {
  position: relative;
  color: white; }
  /* line 4, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_mixins.sass */
  #thanks-folks h2:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: -0.15em;
    left: calc(50% -  175px );
    width: 350px;
    height: 1.3em;
    background-color: #5d4585;
    -webkit-transform: rotate(-0.8deg);
    -moz-transform: rotate(-0.8deg);
    -ms-transform: rotate(-0.8deg);
    -o-transform: rotate(-0.8deg);
    transform: rotate(-0.8deg); }
/* line 228, source/styles.sass */
#thanks-folks p {
  max-width: 900px;
  text-align: center;
  margin: 0 auto; }

/* line 233, source/styles.sass */
#donors {
  background: url(/images/backgrounds/thanks-folks-2.jpg) no-repeat center 0px fixed;
  background-size: cover; }
  /* line 237, source/styles.sass */
  #donors img {
    display: block;
    margin: 1em auto; }

/* line 242, source/styles.sass */
#about h2 {
  position: relative;
  color: white; }
  /* line 4, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_mixins.sass */
  #about h2:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: -0.15em;
    left: calc(50% -  350px );
    width: 700px;
    height: 1.3em;
    background-color: #eb2e66;
    -webkit-transform: rotate(0.8deg);
    -moz-transform: rotate(0.8deg);
    -ms-transform: rotate(0.8deg);
    -o-transform: rotate(0.8deg);
    transform: rotate(0.8deg); }

/* line 245, source/styles.sass */
article {
  background: #eeeeee url("/images/patterns/subtle_freckles_2.png") fixed;
  margin: 0 -5em;
  padding: 4em;
  box-shadow: inset 1px 6px 12px -5px #aaaaaa;
  text-align: center; }
  /* line 251, source/styles.sass */
  article > * {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto; }

/* line 256, source/styles.sass */
#contact {
  padding-bottom: 0; }
  /* line 258, source/styles.sass */
  #contact h2 {
    position: relative;
    color: white; }
    /* line 4, /Users/sven/Development/projects/travis/travis-foundation/source/styles/_mixins.sass */
    #contact h2:before {
      z-index: -1;
      content: "";
      position: absolute;
      top: -0.15em;
      left: calc(50% -  350px );
      width: 700px;
      height: 1.3em;
      background-color: #5d4585;
      -webkit-transform: rotate(-0.8deg);
      -moz-transform: rotate(-0.8deg);
      -ms-transform: rotate(-0.8deg);
      -o-transform: rotate(-0.8deg);
      transform: rotate(-0.8deg); }

/* line 261, source/styles.sass */
footer {
  padding: 2em 5em; }
